.week {
    font-weight: 600;
    font-size: 1.7em;
    margin: 25px 0 15px 25px;
    padding: 0;
}

.cardsWrapper {
    display: flex;
    flex-flow: row nowrap;
    width: 750px;
    height: 200px;
    overflow: auto;
    white-space: nowrap;
}

.emptyText {
    color: #9d9d9d;
    font-style: italic;
}
